html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  overscroll-behavior: none;
}

.container {
  background-color: black;
  height: 100dvh;
  overflow: scroll;
}

.scrollBox {
  height: 300dvh;
  display: grid;
  place-items: center;
}

.intersectionBox {
  width: 100vw;
  height: 100dvh;

  background-color: #fff;
  visibility: hidden;
}

.fixed-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.confirm {
  color: #fff;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  cursor: pointer;

  text-align: center;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeout 1.2s forwards;
  animation-delay: 0.4;
  animation-timing-function: cubic-bezier(0.47, 0, 0, 1);
}
